$base-spacing-unit 				:20px;

$content-max-width              :1000px;
$content-padding-x 				:0px;
$content-padding-y 				:60px;
$group-padding-x 				:$base-spacing-unit;
$group-padding-y 				:$base-spacing-unit; 
